[Service]
{% if jenkins_java_home is defined %}
Environment="JAVA_HOME={{ jenkins_java_home }}"
{% endif %}
{% if jenkins_java_opts is defined %}
Environment="JAVA_OPTS={{ jenkins_java_opts }}"
{% endif %}
{% if jenkins_listen_address is defined %}
Environment="JENKINS_LISTEN_ADDRESS={{ jenkins_listen_address }}"
{% endif %}
{% if jenkins_secrets_file is defined %}
Environment="SECRETS_FILE={{ jenkins_secrets_file }}"
{% endif %}
